*{
margin:0;
padding:0;
}
body{
font-size: 16px;
font-family: "Trebuchet MS", Helvetica , sans-serif;
background: #e6e6e6;
}
header {
background: #f7b000;
padding: 15px;
text-align: center;
}
#logo, nav {
padding: 10px;
}
h1{
color: #4e4e4e;
font-size: 40px;
}
.branco{
color:#fff;
}
a:link,a:visited {
color:#fff;
padding: 8px 12px;
}
a:hover {
color:#f7b600;
background:#fff;
}
section {
width: 920px;
margin: 0 auto
}
#post{
width: 660px;
float: left;
}
#sidebar{
width: 240px;
float: right;
}
footer{
clear: both;
text-align: center;
background: #ccc;
padding: 15px;
}


	

